.app-container {
  width: 400px;
  height: 600px;
  background-color: #efefef;
  margin: 0 auto;
  margin-top: 5px;
  padding: 15px 50px;
}
.balance {
  margin-top: 0px;
}
.add {
  padding-top: 0px;
  padding-bottom: 0%;
}
.expense-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.app-container > h1 {
  text-align: center;
  margin-top: 0px;
}
.form {
  margin: 0%;
}
.form > label {
  display: block;
}
.form > label> input {
  width: 100%;
  padding: 5px;
}
.transaction-list {
  margin: 0%;
  padding:  0%;
}
.transaction-list >li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding:5px 4px;
  box-shadow:0 0 10px gray;
  margin-top: 5px;
  /* border-color: gray; */
}